@media screen and (max-width: 890px) {
  .featured-games-container {
    margin: 12rem 0 4rem 0;
    text-align: center;
  }
  .featured-games-container .featured-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(35rem, 20rem));
    grid-template-rows: repeat(3, minmax(35rem, 20rem));
    padding: 3rem;
    gap: 3rem;
    justify-content: center;
  }
}
@media screen and (max-width: 390px) {
  .featured-games-container {
    width: 390px;
    height: 2450px;
  }
  .featured-games-container h1 {
    font-size: 3rem;
  }
  .featured-games-container .featured-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(35rem, 20rem));
    grid-template-rows: repeat(6, minmax(35rem, 20rem));
    padding: 3rem;
    gap: 3rem;
    justify-content: center;
  }
  .featured-games-container .our-btn {
    width: 35rem;
  }
}
@media screen and (max-width: 820px) {
  .footerContainer .eaPlayContainer {
    width: 820px;
  }
  .footerContainer .eaPlayContainer .eaFlexContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footerContainer .eaPlayContainer .eaFlexContainer .eaFlexContainerChild2 {
    margin-top: 10px;
  }
  .footerContainer .eaPlayContainer .eaFlexContainer .eaParagraph {
    color: white;
    font-size: 1.5rem;
  }
  .footerContainer .eaPlayContainer .eaFlexContainer .buttonStyle {
    width: 100%;
    height: 100%;
  }
  .footerContainer .eaPlayContainer .eaFlexContainer .buttonStyle .bohButton {
    color: white;
    background: none;
    border-radius: 3px;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem 2.5rem;
  }
  .footerContainer .lightBlueDiv {
    height: 164px;
    width: 100%;
    background-color: rgb(107, 185, 227);
    padding: 1.5rem 8rem 0 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .footerContainer .socialMediaContainer {
    padding: 2rem 2rem;
    height: 220px;
    width: 100%;
    background-color: rgb(236, 234, 234);
  }
  .footerContainer .socialMedia {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .footerContainer .careersList ul {
    margin: 10px 10px 20px 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 3.5rem;
  }
  .footerContainer .careersList li {
    display: inline;
  }
  .footerContainer .careersList li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
  }
  .footerContainer .socialMediaList h3 {
    margin: 10px 0 20px 10px;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
  }
  .footerContainer .socialMediaList ul {
    padding: 10px 0 0 10px;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
  }
  .footerContainer .socialMediaList li {
    list-style-type: none;
  }
  .footerContainer .socialMediaList li a {
    text-decoration: none;
    color: black;
  }
  .footerContainer .section2 .networkFooter {
    height: 385px;
    padding: 0;
    margin: 2rem 4.5rem 0 4.5rem;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLogo img {
    width: 50px;
    height: 50px;
    margin: 0 0 10px 10px;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks {
    width: 100%;
    height: 100%;
    margin: 0 0 0 1.5rem;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLinksContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLinksContainer .networkFooterList {
    margin-bottom: 7px;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLinksContainer .networkFooterList a {
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    margin: 1rem 1rem 1rem 0;
    line-height: 3rem;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterSelect {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterSelect .networkFooterSelect1 {
    width: auto;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterSelect .networkFooterSelect1 .selectButton {
    height: 60px;
    width: 31rem;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterSelect .networkFooterSelect1 .selectButton1 {
    height: 60px;
    width: 31rem;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLegal {
    width: 100%;
    height: 40%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLegal .networkFooterLegalList {
    width: 75%;
    height: auto;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLegal .networkFooterLegalList a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin: 1rem 1rem 1rem 0;
    line-height: 1.7rem;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLegal .networkFooterLegalList .networkFooterCopyright {
    margin: 1rem 1rem 1rem 0;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLegal .networkFooterLegalImg {
    width: 100%;
    height: auto;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLegal .networkFooterLegalImg img {
    float: none;
    padding-top: 0;
  }
}
@media screen and (max-width: 390px) {
  .footerContainer .eaPlayContainer {
    width: 390px;
    height: 85vh;
    background-image: url(media/sfondo-display-390px.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footerContainer .eaPlayContainer #eaBackground {
    display: none;
  }
  .footerContainer .eaPlayContainer .eaFlexContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footerContainer .eaPlayContainer .eaFlexContainer .eaFlexContainerChild {
    max-height: 100%;
    width: 350px;
  }
  .footerContainer .eaPlayContainer .eaFlexContainer .eaFlexContainerChild2 {
    width: 350px;
    margin-top: 10px;
  }
  .footerContainer .eaPlayContainer .eaFlexContainer .eaParagraph {
    color: white;
    font-size: 1.5rem;
  }
  .footerContainer .eaPlayContainer .eaFlexContainer .buttonStyle {
    width: 100%;
    height: 100%;
  }
  .footerContainer .eaPlayContainer .eaFlexContainer .buttonStyle .bohButton {
    color: white;
    background: none;
    border-radius: 3px;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem 2.5rem;
    width: 100%;
  }
  .footerContainer .lightBlueDiv {
    height: 180px;
    width: 100%;
    background-color: rgb(107, 185, 227);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .footerContainer .lightBlueDiv .lightBlueDivChild1 {
    margin-bottom: 10px;
  }
  .footerContainer .lightBlueDiv .lightBlueDivChild1 h2 {
    text-align: center;
  }
  .footerContainer .lightBlueDiv .lightBlueDivChild2 {
    width: 100%;
  }
  .footerContainer .lightBlueDiv .lightBlueDivChild2 .bohButton2 {
    width: 100%;
  }
  .footerContainer .socialMediaContainer {
    padding: 0rem 2rem;
    height: 300px;
    width: 100%;
    background-color: rgb(236, 234, 234);
  }
  .footerContainer .socialMedia {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 3rem;
    margin: 20px 0 0 0;
  }
  .footerContainer .careersList {
    width: 100%;
  }
  .footerContainer .careersList ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 0;
    gap: 0;
    text-align: left;
  }
  .footerContainer .careersList li {
    display: inline;
    margin: 0.5rem;
    line-height: 25px;
  }
  .footerContainer .careersList li a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
  }
  .footerContainer .socialMediaList h3 {
    margin: 10px 0 20px 10px;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
  }
  .footerContainer .socialMediaList ul {
    padding: 10px 0 0 10px;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
  }
  .footerContainer .socialMediaList li {
    list-style-type: none;
  }
  .footerContainer .socialMediaList li a {
    text-decoration: none;
    color: black;
  }
  .footerContainer .section2 .networkFooter {
    height: 600px;
    padding: 0;
    margin: 3rem 0 0 1.5rem;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLogo img {
    width: 50px;
    height: 50px;
    margin: 0 0 10px 10px;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks {
    width: 100%;
    height: 100%;
    margin: 0 0 0 1.5rem;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLinksContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLinksContainer .networkFooterList {
    width: 300px;
    margin-bottom: 7px;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLinksContainer .networkFooterList a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin: 0 27px 0 0;
    line-height: 4rem;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterSelect {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-direction: column;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterSelect .networkFooterSelect1 {
    width: auto;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterSelect .networkFooterSelect1 .selectButton {
    height: 60px;
    width: 31rem;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterSelect .networkFooterSelect1 .selectButton1 {
    height: 60px;
    width: 31rem;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLegal {
    width: 100%;
    height: 40%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLegal .networkFooterLegalList {
    width: 80%;
    height: auto;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLegal .networkFooterLegalList a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin: 0 3rem 0 0;
    line-height: 3rem;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLegal .networkFooterLegalList .networkFooterCopyright {
    margin: 1rem 1rem 1rem 0;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLegal .networkFooterLegalImg {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .footerContainer .section2 .networkFooter .networkFooterContainer .networkFooterLinks .networkFooterLegal .networkFooterLegalImg img {
    float: none;
    padding-top: 0;
  }
}
@font-face {
  font-family: "EaFont";
  src: url("EaFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-main-tablet {
  display: none;
  visibility: hidden;
}

body {
  background-color: rgba(212, 192, 192, 0.25);
  position: relative;
}

#eaLogo {
  font-family: "EaFont";
  font-size: 2.5rem;
}

.dropdown-menu.first-dropdown .container-drop {
  width: 35rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 1rem;
}
.dropdown-menu.first-dropdown .container-drop .left-side-drop {
  flex-basis: 50%;
}
.dropdown-menu.first-dropdown .container-drop .left-side-drop h5 {
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.25);
  text-underline-offset: 1rem;
}
.dropdown-menu.first-dropdown .container-drop .left-side-drop ul {
  list-style: none;
}
.dropdown-menu.first-dropdown .container-drop .left-side-drop ul li {
  margin: 0 0 1rem;
}
.dropdown-menu.first-dropdown .container-drop .left-side-drop ul li:first-of-type {
  margin-top: 2rem;
}
.dropdown-menu.first-dropdown .container-drop .right-side-drop {
  flex-basis: 50%;
}
.dropdown-menu.first-dropdown .container-drop .right-side-drop h5 {
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.25);
  text-underline-offset: 1rem;
}
.dropdown-menu.first-dropdown .container-drop .right-side-drop ul {
  list-style: none;
}
.dropdown-menu.first-dropdown .container-drop .right-side-drop ul li {
  margin: 0 0 1rem;
}
.dropdown-menu.first-dropdown .container-drop .right-side-drop ul li:first-of-type {
  margin-top: 2rem;
}

a.nav-link {
  font-size: 1.7rem;
  margin-right: 4rem;
}

.navbar-brand {
  padding-bottom: 4rem;
}

.container-main {
  margin: 0;
  padding: 0;
  height: 45rem;
}
.container-main .header {
  height: 60rem;
}
.container-main .hiding-nav {
  top: 0;
  width: 100%;
  position: fixed;
  transition: top 0.3s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;
  padding-right: 4rem;
  background: #161616;
  z-index: 10;
}
.container-main .hiding-nav i {
  color: rgb(149, 141, 141);
  font-size: 1.7rem;
}
.container-main .hiding-nav i:hover {
  color: white;
}
.container-main .hiding-nav button {
  background: none;
  border: none;
}
.container-main .main-nav .navbar {
  position: fixed;
  z-index: 15;
  width: 100%;
  background-color: white;
  transition: top 0.3s;
}
.container-main .main-nav .navbar .container-fluid * {
  color: black;
}
.container-main .main-nav .navbar .fa-ellipsis-vertical {
  font-size: 2.5rem;
  margin-right: 3rem;
}
.container-main .main-nav .navbar .fa-ellipsis-vertical:hover {
  color: red;
  transform: scale(1.2);
  transition: all 0.4s ease;
}
.container-main .main-logo {
  margin-top: 3rem;
  display: flex;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("mainlogo.png");
  height: 52rem;
}
.container-main .main-logo .main-logo-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.container-main .main-logo h1 {
  color: #161616;
  font-size: 5.5rem;
  font-weight: 700;
  padding: 0 5rem;
  text-align: center;
}
.container-main .main-logo h3 {
  color: #161616;
  text-align: center;
  font-weight: 400;
  padding: 0 5rem;
  word-spacing: 0.2rem;
}
.container-main .main-logo button {
  background: white;
  border-radius: 3px;
  border: none;
  outline: 2px solid white;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.5rem 2.5rem;
  transition: all 0.1s ease-in-out;
  margin-top: 1rem;
  font-weight: 550;
}
.container-main .main-logo button:hover {
  outline: 6px solid white;
}

.featured-games-container {
  margin: 12rem 0 4rem;
  text-align: center;
}
.featured-games-container h1 {
  margin-bottom: 5rem;
  font-size: 4rem;
  font-weight: 550;
}
.featured-games-container .featured-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(35rem, 20rem));
  grid-template-rows: repeat(2, minmax(35rem, 20rem));
  padding: 3rem;
  gap: 3rem;
  justify-content: center;
}
.featured-games-container .featured-grid .featured-square {
  width: 35rem;
  height: 35rem;
}
.featured-games-container .featured-grid .featured-square--one {
  background: url("media/square1.png");
  background-repeat: no-repeat;
}
.featured-games-container .featured-grid .featured-square--one .square-logos-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-games-container .featured-grid .featured-square--one .square-logos-container:hover {
  background: linear-gradient(to right, rgba(15, 0, 125, 0.7), rgba(255, 71, 71, 0.7));
  background-size: cover;
  cursor: pointer;
}
.featured-games-container .featured-grid .featured-square--one .square-logos-container .translateContainer {
  width: 50%;
  height: 40%;
}
.featured-games-container .featured-grid .featured-square--one .square-logos-container .translateContainer a {
  text-decoration: none;
}
.featured-games-container .featured-grid .featured-square--one .square-logos-container .translateContainer a p {
  visibility: hidden;
  color: white;
  font-size: 1.5rem;
}
.featured-games-container .featured-grid .featured-square--one .square-logos-container .square-logos {
  width: 50%;
  height: 50%;
}
.featured-games-container .featured-grid .featured-square--two {
  background: url("media/square2.png");
  background-repeat: no-repeat;
}
.featured-games-container .featured-grid .featured-square--two .square-logos-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-games-container .featured-grid .featured-square--two .square-logos-container1:hover {
  background: linear-gradient(to right, rgba(15, 0, 125, 0.7), rgba(255, 71, 71, 0.7));
  background-size: cover;
  cursor: pointer;
}
.featured-games-container .featured-grid .featured-square--two .square-logos-container1 .translateContainer1 a {
  text-decoration: none;
}
.featured-games-container .featured-grid .featured-square--two .square-logos-container1 .translateContainer1 a p {
  visibility: hidden;
  color: white;
}
.featured-games-container .featured-grid .featured-square--two .square-logos {
  width: 70%;
  height: 70%;
}
.featured-games-container .featured-grid .featured-square--three {
  background: url("media/square3.png");
  background-repeat: no-repeat;
}
.featured-games-container .featured-grid .featured-square--three .square-logos-container2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-games-container .featured-grid .featured-square--three .square-logos-container2:hover {
  background: linear-gradient(to right, rgba(15, 0, 125, 0.7), rgba(255, 71, 71, 0.7));
  background-size: cover;
  cursor: pointer;
}
.featured-games-container .featured-grid .featured-square--three .square-logos-container2 .translateContainer2 a {
  text-decoration: none;
}
.featured-games-container .featured-grid .featured-square--three .square-logos-container2 .translateContainer2 a p {
  visibility: hidden;
  color: white;
}
.featured-games-container .featured-grid .featured-square--three .square-logos {
  width: 50%;
  height: 50%;
}
.featured-games-container .featured-grid .featured-square--four {
  background: url("media/square4.png");
  background-repeat: no-repeat;
}
.featured-games-container .featured-grid .featured-square--four .square-logos-container3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-games-container .featured-grid .featured-square--four .square-logos-container3:hover {
  background: linear-gradient(to right, rgba(15, 0, 125, 0.7), rgba(255, 71, 71, 0.7));
  background-size: cover;
  cursor: pointer;
}
.featured-games-container .featured-grid .featured-square--four .square-logos-container3 .translateContainer3 a {
  text-decoration: none;
}
.featured-games-container .featured-grid .featured-square--four .square-logos-container3 .translateContainer3 a p {
  visibility: hidden;
  color: white;
}
.featured-games-container .featured-grid .featured-square--four .square-logos {
  width: 50%;
  height: 50%;
}
.featured-games-container .featured-grid .featured-square--five {
  background: url("media/square5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.featured-games-container .featured-grid .featured-square--five .square-logos-container4 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-games-container .featured-grid .featured-square--five .square-logos-container4:hover {
  background: linear-gradient(to right, rgba(15, 0, 125, 0.7), rgba(255, 71, 71, 0.7));
  background-size: cover;
  cursor: pointer;
}
.featured-games-container .featured-grid .featured-square--five .square-logos-container4 .translateContainer4 a {
  text-decoration: none;
}
.featured-games-container .featured-grid .featured-square--five .square-logos-container4 .translateContainer4 a p {
  visibility: hidden;
  color: white;
}
.featured-games-container .featured-grid .featured-square--five .square-logos {
  width: 80%;
  height: 80%;
}
.featured-games-container .featured-grid .featured-square--six {
  background: url("media/square6.png");
  width: 35rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.featured-games-container .featured-grid .featured-square--six .square-logos-container5 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-games-container .featured-grid .featured-square--six .square-logos-container5:hover {
  background: linear-gradient(to right, rgba(15, 0, 125, 0.7), rgba(255, 71, 71, 0.7));
  background-size: cover;
  cursor: pointer;
}
.featured-games-container .featured-grid .featured-square--six .square-logos-container5 .translateContainer5 a {
  text-decoration: none;
}
.featured-games-container .featured-grid .featured-square--six .square-logos-container5 .translateContainer5 a p {
  visibility: hidden;
  color: white;
}
.featured-games-container .featured-grid .featured-square--six .square-logos {
  width: 35%;
  height: 35%;
}
.featured-games-container .our-btn {
  background: none;
  border-radius: 3px;
  border: none;
  outline: 2px solid black;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.5rem 2.5rem;
  transition: all 0.1s ease-in-out;
}
.featured-games-container .our-btn:hover {
  outline-offset: 4px;
}

.latest-update-container a {
  cursor: pointer;
  color: #363535;
}
.latest-update-container .button {
  background: #bebcbc;
  box-shadow: 0 2px 0 red;
}
.latest-update-container .disableLatest {
  display: none !important;
}
.latest-update-container .titleLatestUpdateButton {
  font-size: 2rem;
  font-weight: 400;
  gap: 30px;
  margin-bottom: 0.5rem;
}
.latest-update-container h1 {
  text-align: center;
  margin: 3rem 0;
  font-weight: 900;
}
.latest-update-container .divisorSpanFra {
  border-right: 0.5px solid gray;
  height: 80%;
}
.latest-update-container .containerLatestSub {
  display: flex;
  flex-direction: column;
}
.latest-update-container .buttonContainer {
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: start;
  gap: 2rem;
  width: 80%;
  max-width: 1080px;
}
.latest-update-container .borderLatest {
  border-bottom: solid 1px gray;
  width: 100vw;
}
.latest-update-container .cardLatestUpdate:hover {
  transform: translateY(-2rem);
  box-shadow: 2px 20px 25px;
}
.latest-update-container .containerCardLatest {
  width: 80%;
  max-width: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem auto;
  gap: 3rem;
}
.latest-update-container .containerCardLatest .cardLatestUpdate {
  border: solid lightgray 0.2px;
  box-shadow: 2px 2px 6px;
  width: 30%;
  max-height: 45rem;
  cursor: pointer;
  flex-basis: calc(33% - 3rem);
}
.latest-update-container .containerCardLatest .cardLatestUpdate .latestUpdateImg {
  max-width: 100%;
}
.latest-update-container .containerCardLatest .cardLatestUpdate .paddingLatest {
  padding: 2rem;
  margin-bottom: 6rem;
}
.latest-update-container .cardLatestUpdate:hover {
  transform: translateY(-2rem);
  transition: 400ms ease-in-out;
  box-shadow: 2px 20px 25px;
}
.latest-update-container .redEaInc {
  color: red;
}
.latest-update-container .our-btn {
  position: relative;
  left: calc(50% - 3.5rem);
  background: none;
  border-radius: 3px;
  border: none;
  outline: 2px solid black;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.5rem 2.5rem;
  transition: all 0.1s ease-in-out;
  margin-bottom: 3rem;
}
.latest-update-container .our-btn:hover {
  outline-offset: 4px;
}

@media (max-width: 820px) {
  .latest-update-container {
    width: 100%;
  }
  .latest-update-container .buttonContainer {
    width: 80%;
    padding: 0.3rem;
  }
  .latest-update-container .buttonContainer .titleLatestUpdateButton {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0.1rem;
    display: inline-flexbox;
  }
  .latest-update-container .buttonContainer::after {
    width: max-content;
  }
  .latest-update-container .containerCard {
    width: 80%;
  }
  .latest-update-container .containerCard .cardLatestUpdate {
    flex-basis: calc(50% - 3rem);
    width: 7.5rem;
    height: 40rem;
  }
  .latest-update-container .containerCard .cardLatestUpdate .paddingLatest {
    padding: 5%;
    text-align: start;
  }
  .latest-update-container .buttonLatestUpdate {
    width: 80%;
  }
  .latest-update-container .buttonLatestUpdate button {
    text-align: center;
    margin-top: 0.8rem;
  }
}
@media (max-width: 365px) {
  .latest-update-container .containerCardLatest {
    margin: 2rem calc(50% - 14rem);
  }
  .latest-update-container .containerCardLatest .cardLatestUpdate {
    flex-basis: calc(100% - 3rem);
    max-width: 300px;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .latest-update-container .containerCardLatest .cardLatestUpdate .paddingLatest {
    margin: 2rem 0 0;
  }
  .latest-update-container .containerCardLatest .cardLatestUpdate .paddingLatest p {
    display: none;
  }
  .latest-update-container .containerCardLatest .cardLatestUpdate .latestUpdateImg {
    display: none;
  }
  .latest-update-container .paddingLatest {
    padding: 5%;
    text-align: center !important;
  }
  .latest-update-container .paddingLatest .redEaInc {
    font-size: 1.3rem;
  }
  .latest-update-container .paddingLatest h3 {
    font-weight: 600;
  }
}
.footerContainer {
  height: auto;
}

.eaPlayContainer {
  max-width: 100%;
  max-height: auto;
  background-color: rgb(107, 185, 227);
  position: relative;
}

#eaBackground {
  width: 100%;
  height: 100%;
}

.eaFlexContainer {
  max-width: 50%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eaFlexContainerChild {
  max-height: 100%;
}

#eaSmallLogo {
  object-fit: fill;
}

.eaParagraph {
  color: white;
  font-size: 2rem;
}

.eaFlexContainerChild2 {
  margin-top: 17px;
}

.buttonStyle {
  max-width: 100%;
  max-height: 100%;
}
.buttonStyle .bohButton {
  color: white;
  background: none;
  border-radius: 3px;
  border: none;
  outline: 2px solid white;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.5rem 2.5rem;
  transition: all 0.1s ease-in-out;
}
.buttonStyle .bohButton:hover {
  outline-offset: 4px;
}

.lightBlueDiv {
  height: 96px;
  width: 100%;
  background-color: rgb(107, 185, 227);
  padding: 0 10rem 0 11rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.lightBlueDivChild1 {
  flex: 3.5;
}

.lightBlueDivChild2 {
  flex: 4;
}

.playersAndParents {
  font-size: 2rem;
  color: black;
  font-weight: 700;
}

.bohButton2 {
  float: right;
  background: none;
  border-radius: 3px;
  border: none;
  outline: 2px solid black;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.5rem 2.5rem;
  transition: all 0.1s ease-in-out;
}
.bohButton2:hover {
  outline-offset: 4px;
}

.bohButton2 {
  float: right;
  background: none;
  border-radius: 3px;
  border: none;
  outline: 2px solid black;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.5rem 2.5rem;
  transition: all 0.1s ease-in-out;
}
.bohButton2:hover {
  outline-offset: 4px;
}

.socialMediaContainer {
  padding: 3rem 9rem;
  height: 150px;
  width: 100%;
  background-color: rgb(236, 234, 234);
}

.socialMedia {
  height: 100%;
  margin: 0 3.5rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.careersList ul {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-between;
}
.careersList li {
  display: inline;
}
.careersList li a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}
.careersList li a:hover {
  color: red;
}

.socialMediaList h3 {
  margin: 10px 0 10px 10px;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.socialMediaList ul {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}
.socialMediaList li {
  list-style-type: none;
}
.socialMediaList li a {
  text-decoration: none;
  color: black;
}
.socialMediaList li a .fa-brands:hover {
  font-size: 2.5rem;
  transition: all 0.2s ease;
}

.section2 {
  background-color: rgb(242, 241, 241);
}
.section2 .networkFooter {
  height: 240px;
  padding: 3rem 10rem 0 13rem;
  margin: 0 2rem;
}
.section2 .networkFooter .networkFooterContainer {
  height: 100%;
  width: 100%;
  display: flex;
}
.section2 .networkFooter .networkFooterLogo img {
  width: 100%;
  height: 50px;
}
.section2 .networkFooter .networkFooterLinks {
  width: 100%;
  height: 100%;
  margin: 0 0 0 1.5rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer {
  width: 100%;
  height: auto;
  display: flex;
  gap: 1rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterList {
  flex: 2;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterList a {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  margin: 1.2rem 1.2rem 1.2rem 0;
  line-height: 3rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect {
  width: 100%;
  flex: 2;
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 {
  width: auto;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 {
  height: 60px;
  width: 150px;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1px;
  font-size: 1.3rem;
  text-align: left;
  outline: 2px solid #c2c2c2;
  padding: 0 1.2rem;
  transition: all 0.1s ease-in-out;
  position: relative;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1:hover {
  outline-offset: 2px;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 .priceAndLanguage {
  width: 100%;
  color: rgb(125, 125, 125);
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 .nationsSelect1 {
  border: 2px solid #c2c2c2;
  width: 600px;
  height: 400px;
  padding: 0 1rem;
  position: absolute;
  top: -40rem;
  right: -2rem;
  background-color: rgb(242, 241, 241);
  display: flex;
  flex-direction: column wrap;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 .nationsSelect1 .nationsColumn1 {
  height: 100%;
  padding: 0 1.5rem;
  flex: 1;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 .nationsSelect1 .nationsColumn1 .firstColumn1 {
  height: 11.1%;
  border-bottom: 1px solid #dddcdc;
  align-items: center;
  display: flex;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 .nationsSelect1 .nationsColumn1 .firstColumn1:hover {
  transform: translateX(0.7rem);
  transition: all 0.2s ease-in-out;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 .nationsSelect1 .nationsColumn1 .firstColumn1 .nationsName1 {
  padding-left: 1rem;
  flex: 8;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 .nationsSelect1 .nationsColumn1 .firstColumn1 .flagSpan {
  flex: 1;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton {
  height: 60px;
  width: 150px;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1px;
  font-size: 1.3rem;
  text-align: left;
  outline: 2px solid #c2c2c2;
  padding: 0 1.2rem;
  transition: all 0.1s ease-in-out;
  position: relative;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion:hover {
  outline-offset: 2px;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .nationsSelect {
  border: 2px solid #c2c2c2;
  width: 600px;
  height: 400px;
  padding: 0 1rem;
  position: absolute;
  top: -40rem;
  right: -2rem;
  background-color: rgb(242, 241, 241);
  display: flex;
  flex-direction: column wrap;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .nationsSelect .nationsColumn {
  height: 100%;
  padding: 0 1.5rem;
  flex: 1;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .nationsSelect .nationsColumn .firstColumn {
  height: 11.1%;
  border-bottom: 1px solid #dddcdc;
  align-items: center;
  display: flex;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .nationsSelect .nationsColumn .firstColumn:hover {
  transform: translateX(0.7rem);
  transition: all 0.2s ease-in-out;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .nationsSelect .nationsColumn .firstColumn .nationsName {
  padding-left: 1rem;
  flex: 8;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .nationsSelect .nationsColumn .firstColumn .checkSpan {
  flex: 1;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .priceAndLanguage {
  width: 100%;
  color: rgb(125, 125, 125);
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .selectNation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal {
  width: 100%;
  height: 50%;
  margin-top: 1rem;
  display: flex;
  gap: 15rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal .networkFooterLegalList {
  width: 100%;
  flex: 4;
  height: auto;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal .networkFooterLegalList a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin: 1rem 1rem 1rem 0;
  line-height: 1.7rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal .networkFooterLegalList .networkFooterCopyright {
  margin: 1rem 1rem 1rem 0;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal .networkFooterLegalImg {
  width: 100%;
  height: auto;
  flex: 2;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal .networkFooterLegalImg img {
  float: right;
  padding-top: 2.5rem;
}

@media all and (min-width: 992px) {
  .navbar .dropdown-menu-end {
    right: 0;
    left: auto;
  }
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }
  .navbar .nav-item:hover .nav-link {
    color: red;
    text-decoration: none;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0 0;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}
.navbar .nav-item .dropdown-menu {
  margin-top: 1.7rem;
  border-radius: 5px;
}

.dropdown-menu > li > a {
  margin: 1.5rem 0;
  padding: 0 3rem 0 2rem;
}

#sidebar-wrapper {
  position: fixed;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: white;
  padding: 3rem;
  left: -41rem;
  width: 41rem;
  height: 100%;
  z-index: 200;
  transition: all 0.3s ease-in-out;
}
#sidebar-wrapper .close-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
#sidebar-wrapper .close-toggle h5 {
  font-weight: 600;
  color: #a3a3a3;
}
#sidebar-wrapper .close-toggle button {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: 800;
  font-size: 1.6rem;
}

.EA-sidebar-container {
  width: 100%;
  height: 100%;
}
.EA-sidebar-container .big-EA {
  width: 35rem;
  height: 35rem;
  background: url("media/big-EA.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.EA-sidebar-container .big-EA img {
  width: 20%;
  height: 20%;
}
.EA-sidebar-container .big-EA img:hover {
  transform: scale(1.5);
  transition: all 0.1s ease;
}
.EA-sidebar-container .smallEA-container {
  margin-top: 3rem;
  height: 88%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}
.EA-sidebar-container .smallEA-container .smallEA {
  width: 16rem;
  height: 16rem;
  background: url("media/square1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.EA-sidebar-container .smallEA-container .smallEA #jedi {
  height: 50px;
}
.EA-sidebar-container .smallEA-container .smallEA #jedi:hover {
  transform: scale(1.2);
  transition: all 0.1s ease;
}
.EA-sidebar-container .smallEA-container .smallEA1 {
  width: 16rem;
  height: 16rem;
  background: url("media/square2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.EA-sidebar-container .smallEA-container .smallEA1 #pga {
  height: 50px;
  width: 100px;
}
.EA-sidebar-container .smallEA-container .smallEA1 #pga:hover {
  transform: scale(1.2);
  transition: all 0.1s ease;
}
.EA-sidebar-container .smallEA-container .smallEA2 {
  width: 16rem;
  height: 16rem;
  background: url("media/square3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.EA-sidebar-container .smallEA-container .smallEA2 #theSims {
  height: 70px;
  width: 70px;
}
.EA-sidebar-container .smallEA-container .smallEA2 #theSims:hover {
  transform: scale(1.2);
  transition: all 0.1s ease;
}
.EA-sidebar-container .smallEA-container .smallEA3 {
  width: 16rem;
  height: 16rem;
  background: url("media/square4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.EA-sidebar-container .smallEA-container .smallEA3 #fifa-23 {
  height: 70px;
  width: 70px;
}
.EA-sidebar-container .smallEA-container .smallEA3 #fifa-23:hover {
  transform: scale(1.2);
  transition: all 0.1s ease;
}
.EA-sidebar-container .smallEA-container .smallEA4 {
  width: 16rem;
  height: 16rem;
  background: url("media/square5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.EA-sidebar-container .smallEA-container .smallEA4 #madden-23 {
  height: 70px;
  width: 70px;
}
.EA-sidebar-container .smallEA-container .smallEA4 #madden-23:hover {
  transform: scale(1.2);
  transition: all 0.1s ease;
}
.EA-sidebar-container .smallEA-container .smallEA5 {
  width: 16rem;
  height: 16rem;
  background: url("media/square6.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.EA-sidebar-container .smallEA-container .smallEA5 #apex {
  height: 50px;
  width: 50px;
}
.EA-sidebar-container .smallEA-container .smallEA5 #apex:hover {
  transform: scale(1.2);
  transition: all 0.1s ease;
}

#profile-wrapper {
  position: fixed;
  top: -44rem;
  width: 100%;
  height: 55vh;
  background-color: #161616;
  z-index: 450;
  transition: all 0.3s ease-in-out;
}
#profile-wrapper .profile-close {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 3rem;
}
#profile-wrapper .profile-close button {
  color: white;
  background: none;
  border: none;
}
#profile-wrapper .user-profile-tags {
  padding: 0 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
}
#profile-wrapper .user-profile-tags .left-user-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
#profile-wrapper .user-profile-tags .left-user-side:hover {
  transform: translateY(-7px);
}
#profile-wrapper .user-profile-tags .left-user-side button {
  width: 5rem;
  height: 5rem;
  font-size: 1.5rem;
  color: #161616;
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  font-weight: 900;
}
#profile-wrapper .user-profile-tags .left-user-side h5 {
  color: white;
  font-weight: 500;
}
#profile-wrapper .user-profile-tags .right-user-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
#profile-wrapper .user-profile-tags .right-user-side:hover {
  transform: translateY(-7px);
}
#profile-wrapper .user-profile-tags .right-user-side button {
  width: 5rem;
  height: 5rem;
  font-size: 1.5rem;
  color: #161616;
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  font-weight: 900;
}
#profile-wrapper .user-profile-tags .right-user-side h5 {
  color: white;
  font-weight: 500;
}

#side-toggle {
  border: none;
  background-color: transparent;
}

#sidebar-overlay {
  position: fixed;
  top: 36px;
  width: 100%;
  height: 100%;
  z-index: 190;
  background-color: rgba(0, 0, 0, 0.55);
  display: none;
  visibility: none;
}

#faq-wrapper {
  position: fixed;
  top: -44rem;
  width: 100%;
  height: 55vh;
  background-color: #161616;
  z-index: 450;
  transition: all 0.3s ease-in-out;
}
#faq-wrapper .faq-close {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 3rem;
}
#faq-wrapper .faq-close button {
  color: white;
  background: none;
  border: none;
}
#faq-wrapper .faq-title {
  text-align: center;
  color: white;
  width: 100%;
  font-weight: bolder;
  margin-bottom: 2rem;
}
#faq-wrapper .faq-icons {
  display: grid;
  gap: 4rem 10rem;
  padding: 0 45rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
#faq-wrapper .faq-icons i {
  background-color: white;
  color: black;
}
#faq-wrapper .faq-icons a {
  text-decoration: none;
}
#faq-wrapper .faq-icons a:hover {
  transition: all 0.2s ease-in-out;
  transform: translateY(-10px);
}
#faq-wrapper .faq-icons p {
  color: white;
  margin-top: 0.7em;
}
#faq-wrapper .faq-icons .faq-login {
  justify-self: center;
}
#faq-wrapper .faq-icons .faq-login i {
  padding: 0.7rem 0.35rem;
  border-radius: 100%;
}
#faq-wrapper .faq-icons .faq-login a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#faq-wrapper .faq-icons .faq-link {
  justify-self: center;
  justify-items: center;
}
#faq-wrapper .faq-icons .faq-link i {
  padding: 1.5rem;
  border-radius: 10px;
}
#faq-wrapper .faq-icons .faq-link a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#faq-wrapper .faq-icons .faq-link p {
  text-align: center;
}
#faq-wrapper .faq-icons .faq-redeem {
  justify-self: center;
}
#faq-wrapper .faq-icons .faq-redeem i {
  padding: 0.9rem 0.4rem;
  border-radius: 100%;
}
#faq-wrapper .faq-icons .faq-redeem a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#faq-wrapper .faq-icons .faq-problem {
  justify-self: center;
}
#faq-wrapper .faq-icons .faq-problem i {
  padding: 1.5rem;
  border-radius: 10px;
}
#faq-wrapper .faq-icons .faq-problem a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#faq-wrapper .faq-footer {
  text-align: center;
  color: white;
  margin-top: 1rem;
}
#faq-wrapper .faq-footer span {
  color: red;
}

.nav-link.dropdown-toggle {
  position: relative;
}

.dropdown-toggle::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(130deg);
  transition: transform 0.3s ease;
}

.dropdown-toggle:hover::after {
  transform: rotate(-50deg);
}

@media (max-width: 820px) {
  * .container-main {
    display: none;
    visibility: hidden;
  }
  * #faq-wrapper {
    display: none;
    visibility: hidden;
  }
  * #profile-wrapper {
    display: none;
    visibility: hidden;
  }
  * .myborder {
    border-top: 2px solid #a3a3a3;
  }
  * .first-border {
    border-top: 1px solid red;
  }
  * .separate-border {
    border-top: 1px solid #dddcdc;
  }
  * .list-unstyled {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  * #sidebar-overlay {
    top: 40px;
  }
  * #tablet-nav-close {
    border: none;
    background: none;
  }
  * .tablet-sidebar {
    height: 100%;
    position: fixed;
    z-index: 600;
    padding: 0;
    left: -40rem;
    transition: all 0.3s ease-in-out;
  }
  * .tablet-sidebar .tablet-sidebar-head {
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;
    padding: 1rem 1.5rem 0;
    height: 4vh;
    align-content: center;
  }
  * .tablet-sidebar .tablet-sidebar-head i {
    font-size: larger;
    padding: 0.7rem 0.9rem;
    border-radius: 100px;
    border: 1px solid #161616;
  }
  * .container-main-tablet {
    display: block;
    visibility: visible;
  }
  * .container-main-tablet .hiding-nav-tablet {
    display: flex;
    width: 100%;
    height: 3.5vh;
    background-color: #161616;
    justify-content: end;
    gap: 4.5rem;
    color: #a3a3a3;
    padding-right: 3rem;
  }
  * .container-main-tablet .hiding-nav-tablet button {
    background: none;
    border: none;
    font-size: larger;
  }
  * .container-main-tablet .main-nav-tablet {
    z-index: 40;
    display: flex;
    background-color: white;
    width: 100%;
    height: 4.4vh;
  }
  * .container-main-tablet .main-nav-tablet button {
    background: none;
    border: none;
    color: #a3a3a3;
    font-size: x-large;
    padding-left: 1.5rem;
  }
  * .container-main-tablet .main-logo-tablet {
    width: 100%;
    height: 37vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    background-image: url("mainlogo.jpg");
  }
}

/*# sourceMappingURL=electronicarts.css.map */
