@font-face {
  font-family: "EaFont";
  src: url("EaFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgba(212, 192, 192, 0.25);
  position: relative;
}

#eaLogo {
  font-family: "EaFont";
  font-size: 2.5rem;
}

.dropdown-menu.first-dropdown .container-drop {
  width: 35rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 1rem;
}
.dropdown-menu.first-dropdown .container-drop .left-side-drop {
  flex-basis: 50%;
}
.dropdown-menu.first-dropdown .container-drop .left-side-drop h5 {
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.25);
  text-underline-offset: 1rem;
}
.dropdown-menu.first-dropdown .container-drop .left-side-drop ul {
  list-style: none;
}
.dropdown-menu.first-dropdown .container-drop .left-side-drop ul li {
  margin: 0 0 1rem 0;
}
.dropdown-menu.first-dropdown .container-drop .left-side-drop ul li:first-of-type {
  margin-top: 2rem;
}
.dropdown-menu.first-dropdown .container-drop .right-side-drop {
  flex-basis: 50%;
}
.dropdown-menu.first-dropdown .container-drop .right-side-drop h5 {
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.25);
  text-underline-offset: 1rem;
}
.dropdown-menu.first-dropdown .container-drop .right-side-drop ul {
  list-style: none;
}
.dropdown-menu.first-dropdown .container-drop .right-side-drop ul li {
  margin: 0 0 1rem 0;
}
.dropdown-menu.first-dropdown .container-drop .right-side-drop ul li:first-of-type {
  margin-top: 2rem;
}

a.nav-link {
  font-size: 1.7rem;
  margin-right: 4rem;
}

.navbar-brand {
  padding-bottom: 4rem;
}

.container-main {
  margin: 0;
  padding: 0;
  height: 55rem;
}
.container-main .header {
  height: 60rem;
}
.container-main .hiding-nav {
  top: 0;
  width: 100%;
  position: fixed;
  transition: top 0.3s;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;
  padding-right: 4rem;
  background: #161616;
  z-index: 10;
}
.container-main .hiding-nav i {
  color: rgb(149, 141, 141);
  font-size: 1.7rem;
}
.container-main .hiding-nav i:hover {
  color: white;
}
.container-main .hiding-nav button {
  background: none;
  border: none;
}
.container-main .main-nav .navbar {
  position: fixed;
  z-index: 15;
  width: 100%;
  background-color: white;
  transition: top 0.3s;
}
.container-main .main-nav .navbar .container-fluid * {
  color: black;
}
.container-main .main-nav .navbar .fa-ellipsis-vertical {
  font-size: 2.5rem;
  margin-right: 3rem;
}
.container-main .main-logo {
  margin-top: 3rem;
  display: flex;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("mainlogo.png");
  height: 58rem;
}
.container-main .main-logo .main-logo-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.container-main .main-logo h1 {
  color: #161616;
  font-size: 5.5rem;
  font-weight: 700;
  padding: 0 5rem;
  text-align: center;
}
.container-main .main-logo h3 {
  color: #161616;
  text-align: center;
  font-weight: 400;
  padding: 0 5rem;
  word-spacing: 0.2rem;
}
.container-main .main-logo button {
  background: white;
  border-radius: 3px;
  border: none;
  outline: 2px solid white;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.5rem 2.5rem;
  transition: all 0.1s ease-in-out;
  margin-top: 1rem;
  font-weight: 550;
}
.container-main .main-logo button:hover {
  outline: 6px solid white;
}

.featured-games-container {
  margin: 12rem 0 4rem 0;
  text-align: center;
}
.featured-games-container h1 {
  margin-bottom: 5rem;
  font-size: 4rem;
  font-weight: 550;
}
.featured-games-container .translate-all {
  background: linear-gradient(to right, rgba(15, 0, 125, 0.7), rgba(255, 71, 71, 0.7));
  background-size: cover;
  cursor: pointer;
  transform: translateY(10%);
  transition: all 0.5s ease;
}
.featured-games-container .featured-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(35rem, 20rem));
  grid-template-rows: repeat(2, minmax(35rem, 20rem));
  padding: 3rem;
  gap: 3rem;
  justify-content: center;
}
.featured-games-container .featured-grid .featured-square {
  width: 35rem;
  height: 35rem;
}
.featured-games-container .featured-grid .featured-square--one {
  background: url("media/square1.png");
  background-repeat: no-repeat;
}
.featured-games-container .featured-grid .featured-square--one .square-logos-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-games-container .featured-grid .featured-square--one .square-logos-container .translateContainer {
  width: 50%;
  height: 40%;
}
.featured-games-container .featured-grid .featured-square--one .square-logos-container .translateContainer a {
  text-decoration: none;
}
.featured-games-container .featured-grid .featured-square--one .square-logos-container .translateContainer a p {
  visibility: hidden;
  color: white;
  font-size: 1.5rem;
}
.featured-games-container .featured-grid .featured-square--one .square-logos-container .translateContainer a p:hover {
  color: gray;
}
.featured-games-container .featured-grid .featured-square--one .square-logos-container .square-logos {
  width: 50%;
  height: 50%;
}
.featured-games-container .featured-grid .featured-square--two {
  background: url("media/square2.png");
  background-repeat: no-repeat;
}
.featured-games-container .featured-grid .featured-square--two .square-logos-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-games-container .featured-grid .featured-square--two .square-logos-container .translateContainer a {
  text-decoration: none;
}
.featured-games-container .featured-grid .featured-square--two .square-logos-container .translateContainer a p {
  visibility: hidden;
  color: white;
}
.featured-games-container .featured-grid .featured-square--two .square-logos-container .translateContainer a p:hover {
  color: gray;
}
.featured-games-container .featured-grid .featured-square--two .square-logos {
  width: 70%;
  height: 70%;
}
.featured-games-container .featured-grid .featured-square--three {
  background: url("media/square3.png");
  background-repeat: no-repeat;
}
.featured-games-container .featured-grid .featured-square--three .square-logos-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-games-container .featured-grid .featured-square--three .square-logos-container .translateContainer a {
  text-decoration: none;
}
.featured-games-container .featured-grid .featured-square--three .square-logos-container .translateContainer a p {
  visibility: hidden;
  color: white;
}
.featured-games-container .featured-grid .featured-square--three .square-logos-container .translateContainer a p:hover {
  color: gray;
}
.featured-games-container .featured-grid .featured-square--three .square-logos {
  width: 50%;
  height: 50%;
}
.featured-games-container .featured-grid .featured-square--four {
  background: url("media/square4.png");
  background-repeat: no-repeat;
}
.featured-games-container .featured-grid .featured-square--four .square-logos-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-games-container .featured-grid .featured-square--four .square-logos-container .translateContainer a {
  text-decoration: none;
}
.featured-games-container .featured-grid .featured-square--four .square-logos-container .translateContainer a p {
  visibility: hidden;
  color: white;
}
.featured-games-container .featured-grid .featured-square--four .square-logos-container .translateContainer a p:hover {
  color: gray;
}
.featured-games-container .featured-grid .featured-square--four .square-logos {
  width: 50%;
  height: 50%;
}
.featured-games-container .featured-grid .featured-square--five {
  background: url("media/square5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.featured-games-container .featured-grid .featured-square--five .square-logos-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-games-container .featured-grid .featured-square--five .square-logos-container .translateContainer a {
  text-decoration: none;
}
.featured-games-container .featured-grid .featured-square--five .square-logos-container .translateContainer a p {
  visibility: hidden;
  color: white;
}
.featured-games-container .featured-grid .featured-square--five .square-logos-container .translateContainer a p:hover {
  color: gray;
}
.featured-games-container .featured-grid .featured-square--five .square-logos {
  width: 80%;
  height: 80%;
}
.featured-games-container .featured-grid .featured-square--six {
  background: url("media/square6.png");
  width: 35rem;
  background-repeat: no-repeat;
  background-size: contain;
}
.featured-games-container .featured-grid .featured-square--six .square-logos-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-games-container .featured-grid .featured-square--six .square-logos-container .translateContainer a {
  text-decoration: none;
}
.featured-games-container .featured-grid .featured-square--six .square-logos-container .translateContainer a p {
  visibility: hidden;
  color: white;
}
.featured-games-container .featured-grid .featured-square--six .square-logos-container .translateContainer a p:hover {
  color: gray;
}
.featured-games-container .featured-grid .featured-square--six .square-logos-container:hover {
  background: linear-gradient(to right, rgba(15, 0, 125, 0.7), rgba(255, 71, 71, 0.7));
  background-size: cover;
  cursor: pointer;
}
.featured-games-container .featured-grid .featured-square--six .square-logos {
  width: 35%;
  height: 35%;
}
.featured-games-container .our-btn {
  background: none;
  border-radius: 3px;
  border: none;
  outline: 2px solid black;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.5rem 2.5rem;
  transition: all 0.1s ease-in-out;
}
.featured-games-container .our-btn:hover {
  outline-offset: 4px;
}

.latest-update-container {
  width: 100vw;
}
.latest-update-container h3 {
  font-size: 2rem;
  font-weight: normal;
}
.latest-update-container h1 {
  text-align: center;
  margin: 3rem 0;
  font-weight: 900;
}
.latest-update-container .divisorSpanFra {
  border-right: 0.5px solid gray;
  margin-left: 2rem;
}
.latest-update-container .containerLatestSub {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.latest-update-container .buttonContainer {
  display: flex;
  justify-content: start;
  gap: 2rem;
  padding: 0.5rem;
  transform: translateX(-6rem);
}
.latest-update-container .borderLatest {
  border-bottom: solid 1px gray;
  width: 100vw;
}
.latest-update-container .cardLatestUpdate:hover {
  transform: translateY(-2rem);
  box-shadow: 2px 20px 25px;
}
.latest-update-container .containerCardLatest {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, auto));
  gap: 3rem;
  margin-bottom: 3rem;
  padding: 6rem 22rem;
}
.latest-update-container .containerCardLatest .cardLatestUpdate {
  border: solid lightgray 0.2px;
  cursor: pointer;
  box-shadow: 2px 2px 6px;
}
.latest-update-container .containerCardLatest .cardLatestUpdate .paddingLatest {
  padding: 1rem;
}
.latest-update-container .cardLatestUpdate:hover {
  transform: translateY(-2rem);
  transition: 400ms ease-in-out;
  box-shadow: 2px 20px 25px;
}
.latest-update-container .cardLatestUpdate {
  max-width: 36rem;
  max-height: 45rem;
}
.latest-update-container .cardLatestUpdate .latestUpdateImg {
  max-width: 100%;
}
.latest-update-container .redEaInc {
  color: red;
}
.latest-update-container .our-btn {
  background: none;
  border-radius: 3px;
  border: none;
  outline: 2px solid black;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.5rem 2.5rem;
  transition: all 0.1s ease-in-out;
  margin-bottom: 3rem;
}
.latest-update-container .our-btn:hover {
  outline-offset: 4px;
}

.footerContainer {
  height: auto;
}

.eaPlayContainer {
  max-width: 100%;
  max-height: auto;
  background-color: rgb(107, 185, 227);
  position: relative;
}

#eaBackground {
  width: 100%;
  height: 100%;
}

.eaFlexContainer {
  max-width: 50%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eaFlexContainerChild {
  max-height: 100%;
}

#eaSmallLogo {
  -o-object-fit: fill;
     object-fit: fill;
}

.eaParagraph {
  color: white;
  font-size: 2rem;
}

.eaFlexContainerChild2 {
  margin-top: 17px;
}

.buttonStyle {
  max-width: 100%;
  max-height: 100%;
}
.buttonStyle .bohButton {
  color: white;
  background: none;
  border-radius: 3px;
  border: none;
  outline: 2px solid white;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.5rem 2.5rem;
  transition: all 0.1s ease-in-out;
}
.buttonStyle .bohButton:hover {
  outline-offset: 4px;
}

.lightBlueDiv {
  height: 96px;
  width: 100%;
  background-color: rgb(107, 185, 227);
  padding: 0 10rem 0 11rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.lightBlueDivChild1 {
  flex: 3.5;
}

.lightBlueDivChild2 {
  flex: 4;
}

.playersAndParents {
  font-size: 2rem;
  color: black;
  font-weight: 700;
}

.bohButton2 {
  float: right;
  background: none;
  border-radius: 3px;
  border: none;
  outline: 2px solid black;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.5rem 2.5rem;
  transition: all 0.1s ease-in-out;
}
.bohButton2:hover {
  outline-offset: 4px;
}

.bohButton2 {
  float: right;
  background: none;
  border-radius: 3px;
  border: none;
  outline: 2px solid black;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.5rem 2.5rem;
  transition: all 0.1s ease-in-out;
}
.bohButton2:hover {
  outline-offset: 4px;
}

.socialMediaContainer {
  padding: 3rem 9rem;
  height: 150px;
  width: 100%;
  background-color: rgb(236, 234, 234);
}

.socialMedia {
  height: 100%;
  margin: 0 3.5rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.careersList ul {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-between;
}
.careersList li {
  display: inline;
}
.careersList li a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}
.careersList li a:hover {
  color: red;
}

.socialMediaList h3 {
  margin: 10px 0 10px 10px;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.socialMediaList ul {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}
.socialMediaList li {
  list-style-type: none;
}
.socialMediaList li a {
  text-decoration: none;
  color: black;
}
.socialMediaList li a .fa-brands:hover {
  font-size: 2.5rem;
  transition: all 0.2s ease;
}
.socialMediaList h3 {
  margin: 10px 0 10px 10px;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.socialMediaList ul {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}
.socialMediaList li {
  list-style-type: none;
}
.socialMediaList li a {
  text-decoration: none;
  color: black;
}
.socialMediaList li a .fa-brands:hover {
  font-size: 2.5rem;
  transition: all 0.2s ease;
}

.section2 {
  background-color: rgb(242, 241, 241);
  background-color: rgb(242, 241, 241);
}
.section2 .networkFooter {
  height: 240px;
  padding: 3rem 10rem 0 13rem;
  margin: 0 2rem;
}
.section2 .networkFooter .networkFooterContainer {
  height: 100%;
  width: 100%;
  display: flex;
}
.section2 .networkFooter .networkFooterLogo img {
  width: 100%;
  height: 50px;
}
.section2 .networkFooter .networkFooterLinks {
  width: 100%;
  height: 100%;
  margin: 0 0 0 1.5rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer {
  width: 100%;
  height: auto;
  display: flex;
  gap: 1rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterList {
  flex: 2;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterList a {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  margin: 1.2rem 1.2rem 1.2rem 0;
  line-height: 3rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect {
  width: 100%;
  flex: 2;
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 {
  width: auto;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton {
  border: 1px solid rgba(188, 183, 183, 0.646);
  height: 60px;
  width: 150px;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal {
  width: 100%;
  height: 50%;
  margin-top: 1rem;
  display: flex;
  gap: 15rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal .networkFooterLegalList {
  width: 100%;
  flex: 4;
  height: auto;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal .networkFooterLegalList a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin: 1rem 1rem 1rem 0;
  line-height: 1.7rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal .networkFooterLegalList .networkFooterCopyright {
  margin: 1rem 1rem 1rem 0;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal .networkFooterLegalImg {
  width: 100%;
  height: auto;
  flex: 2;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal .networkFooterLegalImg img {
  float: right;
  padding-top: 2.5rem;
}
.section2 .networkFooter {
  height: 240px;
  padding: 3rem 10rem 0 13rem;
  margin: 0 2rem;
}
.section2 .networkFooter .networkFooterContainer {
  height: 100%;
  width: 100%;
  display: flex;
}
.section2 .networkFooter .networkFooterLogo img {
  width: 100%;
  height: 50px;
}
.section2 .networkFooter .networkFooterLinks {
  width: 100%;
  height: 100%;
  margin: 0 0 0 1.5rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer {
  width: 100%;
  height: auto;
  display: flex;
  gap: 1rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterList {
  flex: 2;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterList a {
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  margin: 1.2rem 1.2rem 1.2rem 0;
  line-height: 3rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect {
  width: 100%;
  flex: 2;
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 {
  width: auto;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 {
  height: 60px;
  width: 150px;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1px;
  font-size: 1.3rem;
  text-align: left;
  outline: 2px solid #c2c2c2;
  padding: 0 1.2rem;
  transition: all 0.1s ease-in-out;
  position: relative;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1:hover {
  outline-offset: 2px;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 .priceAndLanguage {
  width: 100%;
  color: rgb(125, 125, 125);
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 .nationsSelect1 {
  border: 2px solid #c2c2c2;
  width: 600px;
  height: 400px;
  padding: 0 1rem;
  position: absolute;
  top: -40rem;
  right: -2rem;
  background-color: rgb(242, 241, 241);
  display: flex;
  flex-direction: column wrap;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 .nationsSelect1 .nationsColumn1 {
  height: 100%;
  padding: 0 1.5rem;
  flex: 1;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 .nationsSelect1 .nationsColumn1 .firstColumn1 {
  height: 11.1%;
  border-bottom: 1px solid #dddcdc;
  align-items: center;
  display: flex;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 .nationsSelect1 .nationsColumn1 .firstColumn1:hover {
  transform: translateX(0.7rem);
  transition: all 0.2s ease-in-out;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 .nationsSelect1 .nationsColumn1 .firstColumn1 .nationsName1 {
  padding-left: 1rem;
  flex: 8;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton1 .selectRegion1 .nationsSelect1 .nationsColumn1 .firstColumn1 .flagSpan {
  flex: 1;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton {
  height: 60px;
  width: 150px;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 1px;
  font-size: 1.3rem;
  text-align: left;
  outline: 2px solid #c2c2c2;
  padding: 0 1.2rem;
  transition: all 0.1s ease-in-out;
  position: relative;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion:hover {
  outline-offset: 2px;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .nationsSelect {
  border: 2px solid #c2c2c2;
  width: 600px;
  height: 400px;
  padding: 0 1rem;
  position: absolute;
  top: -40rem;
  right: -2rem;
  background-color: rgb(242, 241, 241);
  display: flex;
  flex-direction: column wrap;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .nationsSelect .nationsColumn {
  height: 100%;
  padding: 0 1.5rem;
  flex: 1;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .nationsSelect .nationsColumn .firstColumn {
  height: 11.1%;
  border-bottom: 1px solid #dddcdc;
  align-items: center;
  display: flex;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .nationsSelect .nationsColumn .firstColumn:hover {
  transform: translateX(0.7rem);
  transition: all 0.2s ease-in-out;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .nationsSelect .nationsColumn .firstColumn .nationsName {
  padding-left: 1rem;
  flex: 8;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .nationsSelect .nationsColumn .firstColumn .checkSpan {
  flex: 1;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .priceAndLanguage {
  width: 100%;
  color: rgb(125, 125, 125);
}
.section2 .networkFooter .networkFooterLinks .networkFooterLinksContainer .networkFooterSelect .networkFooterSelect1 .selectButton .selectRegion .selectNation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal {
  width: 100%;
  height: 50%;
  margin-top: 1rem;
  display: flex;
  gap: 15rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal .networkFooterLegalList {
  width: 100%;
  flex: 4;
  height: auto;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal .networkFooterLegalList a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin: 1rem 1rem 1rem 0;
  line-height: 1.7rem;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal .networkFooterLegalList .networkFooterCopyright {
  margin: 1rem 1rem 1rem 0;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal .networkFooterLegalImg {
  width: 100%;
  height: auto;
  flex: 2;
}
.section2 .networkFooter .networkFooterLinks .networkFooterLegal .networkFooterLegalImg img {
  float: right;
  padding-top: 2.5rem;
}

@media all and (min-width: 992px) {
  .navbar .dropdown-menu-end {
    right: 0;
    left: auto;
  }
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }
  .navbar .nav-item:hover .nav-link {
    color: red;
    text-decoration: none;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0 0;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}
.navbar .nav-item .dropdown-menu {
  margin-top: 1.7rem;
  border-radius: 5px;
}

.dropdown-menu > li > a {
  margin: 1.5rem 0;
  padding: 0 3rem 0 2rem;
}

#sidebar-wrapper {
  position: fixed;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: white;
  padding: 3rem;
  left: -41rem;
  width: 41rem;
  height: 100%;
  z-index: 200;
  transition: all 0.3s ease-in-out;
}
#sidebar-wrapper .close-toggle {
  display: flex;
  justify-content: space-between;
}
#sidebar-wrapper .close-toggle h5 {
  font-weight: 600;
  color: #a3a3a3;
}
#sidebar-wrapper .close-toggle button {
  background-color: transparent;
  border: none;
  color: black;
  font-weight: 800;
  font-size: 1.6rem;
}

#profile-wrapper {
  position: absolute;
  top: -44rem;
  width: 100%;
  height: 55vh;
  background-color: #161616;
  z-index: 450;
  transition: all 0.3s ease-in-out;
}
#profile-wrapper .profile-close {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 3rem;
}
#profile-wrapper .profile-close button {
  color: white;
  background: none;
  border: none;
}
#profile-wrapper .user-profile-tags {
  padding: 0 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50%;
}
#profile-wrapper .user-profile-tags .left-user-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile-wrapper .user-profile-tags .left-user-side button {
  width: 5rem;
  height: 5rem;
  font-size: 1.5rem;
  color: #161616;
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  font-weight: 900;
}
#profile-wrapper .user-profile-tags .left-user-side h5 {
  color: white;
  font-weight: 500;
}
#profile-wrapper .user-profile-tags .right-user-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#profile-wrapper .user-profile-tags .right-user-side button {
  width: 5rem;
  height: 5rem;
  font-size: 1.5rem;
  color: #161616;
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
  font-weight: 900;
}
#profile-wrapper .user-profile-tags .right-user-side h5 {
  color: white;
  font-weight: 500;
}

#side-toggle {
  border: none;
  background-color: transparent;
}/*# sourceMappingURL=electronicarts.css.map */